@model Act2.Models.ViewModels.IndexViewModel
@{
    Layout = "Layout";
}
        <section class="nav">
            <h3>ABC de Razas</h3>
            <nav>
                <a href="/Home/Index">Todas</a>
                @foreach (var item in Model.Letras)
        {
            
                <a href="~/Home/Index/@item">@item</a>
              
        }
                <a href="~/Home/PorPais">Listado por país</a>
            </nav>
        </section>
        <section class="list">
            <ul>
        @foreach(var item in Model.listaPerroxletra)
        {
                    <li>
                        <a href="~/Detalles/@item.NombreRaza.Replace(" ","-")">
                            <img src="~/imgs_perros/@(item.Id)_0.jpg">
                            @item.NombreRaza
                        </a>
                    </li>
        }
    </ul>
        </section>