@model IEnumerable<Act2.Models.ViewModels.RazaPorPaisViewModel>
@{
    Layout = "Layout";
}

<section class="nav">
    <h3>Razas por país</h3>
    <nav>
        <a href="~/Home/Index">Listado Alfabético de Razas</a>
    </nav>
</section>

<section class="list">
    @foreach (var item in Model)
    {
    

    <h4>@item.NombreP</h4>
    

            <ul>
                @foreach (var s in item.ListaRazaxPais)
            {
                
                <li>
                    <a href="~/Detalles/@s.Name.Replace(" ","-")">
                        <img src="~/imgs_perros/@(s.Id)_0.jpg" />
                        @s.Name
                    </a>
                </li>
            }
       
            </ul>
       
    }
   

</section>

